@font-face {
    font-family: yekan;
    src: url("../fonts/yekan.woff");
}

@font-face {
    font-family: yekan_bold;
    src: url("../fonts/yekan_bold.woff");
}

@font-face {
    font-family: google_sans;
    src: url("../fonts/google_sans.ttf");
}

@font-face {
    font-family: yekan_num;
    src: url("../fonts/yekan_num.woff");
}


:root {
    --main-color: #1d3557;
    --background-color: #E4E4E4;
    --surface-color: #ecf0f1;
    --on-surface-color: #494949;
    --secondary-color: #a8dadc;
    --secondary-variation-color: #509FB2;
    --on-secondary-variation-color: #DDDDDD;
    --avatar-bg-color: #dddddd;
    --logout-icon-color: #dca8a8;
    --avatar-icon-color: #494949;
    --hint-text-color: #a5a5a5;
    --hint-text-color-light: var(--secondary-color);
    --upload-datase-icon-color: var(--main-color);
    --title-text-color: #424242;
    --content-text-color: #5f5f5f;
    --accent-color: #e63946;
    --confirm-color: #81b29a;
    --dismiss-color: #e07a5f;
    --color-on-main: #fff;
    --dialog-bg-color: #fff;
    --logout-action-bg-color: rgba(230, 57, 70, .2);
    --add-fund-action-bg-color: rgba(129, 178, 154, .2);
    --add-fund-action-content-color: #387E5C;
    --dashboard-card-icon-bg-color: #dddddd;
    --dashboard-card-icon-color: #e07a5f;
    --tip-icon-color: #e07a5f;
    --tip-title-color: #494949;
}

::-webkit-input-placeholder {
    font-family: yekan;
}

::-moz-placeholder {
    font-family: yekan;
}


* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    direction: rtl;
    font-size: 16px;
}

p,
h2 {
    margin: 0;
}

button {
    outline: none;
    border: none;
}

button:hover {
    outline: none;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner_container {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header_container {
    width: 100%;
    height: 2em;
    display: flex;
    justify-content: flex-start;
    font-size: 1em;
    align-items: center;
    color: var(--hint-text-color);
    cursor: pointer;
}

.header_container:hover {
    color: var(--title-text-color);
}

.header_container p {
    margin-right: 1em;
    font-family: yekan;
}

.content_container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.upload_file_container {
    flex: 1;
    height: calc(100% - 4em);
    border: 1px dashed var(--main-color);
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.upload_file_icon {
    font-size: 7em;
    color: var(--upload-datase-icon-color);
}

.upload_file_hint {
    color: var(--hint-text-color);
    font-family: yekan;
}

.tips_container {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2em;
    height: calc(100% - 4em);
}

.tip_item {
    width: 90%;
    flex: 1;
    background-color: var(--surface-color);
    border-radius: 1em;
    padding: 1em;
}

.tip_item:first-of-type {
    margin-bottom: 1em;
}

.tip_item:nth-of-type(2), .tip_item:nth-of-type(3) {
    margin: 1em 0;
}

.tip_item:last-of-type {
    margin-top: 1em;
}

.tip_item_title {
    display: flex;
    align-items: center;
}

.tip_item_title i {
    color: var(--tip-icon-color);
    font-size: 1.5em;
}

.tip_item_title p {
    font-size: 1.5em;
    color: var(--tip-title-color);
    font-family: yekan_bold;
    margin-right: .5em;
}

.tip_item_content {
    margin-top: 1em;
    font-family: yekan;
}