@font-face {
    font-family: yekan;
    src: url("../fonts/yekan.woff");
}

@font-face {
    font-family: yekan_bold;
    src: url("../fonts/yekan_bold.woff");
}

@font-face {
    font-family: google_sans;
    src: url("../fonts/google_sans.ttf");
}

@font-face {
    font-family: yekan_num;
    src: url("../fonts/yekan_num.woff");
}


:root {
    --main-color: #1d3557;
    --background-color: #E4E4E4;
    --surface-color: #ecf0f1;
    --on-surface-color: #494949;
    --secondary-color: #a8dadc;
    --secondary-variation-color: #509FB2;
    --on-secondary-variation-color: #DDDDDD;
    --avatar-bg-color: #dddddd;
    --logout-icon-color: #dca8a8;
    --avatar-icon-color: #494949;
    --hint-text-color: #a5a5a5;
    --hint-text-color-light: var(--secondary-color);
    --upload-datase-icon-color: var(--main-color);
    --title-text-color: #424242;
    --content-text-color: #5f5f5f;
    --accent-color: #e63946;
    --confirm-color: #81b29a;
    --dismiss-color: #e07a5f;
    --color-on-main: #fff;
    --dialog-bg-color: #fff;
    --logout-action-bg-color: rgba(230, 57, 70, .2);
    --add-fund-action-bg-color: rgba(129, 178, 154, .2);
    --add-fund-action-content-color: #387E5C;
    --dashboard-card-icon-bg-color: #dddddd;
    --dashboard-card-icon-color: #e07a5f;
    --tip-icon-color: #e07a5f;
    --tip-title-color: #494949;
}

::-webkit-input-placeholder {
    font-family: yekan;
}

::-moz-placeholder {
    font-family: yekan;
}


* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    direction: rtl;
    font-size: 16px;
    overflow-x: hidden;
}

p,
h2 {
    margin: 0;
}

button {
    outline: none;
    border: none;
}

button:hover {
    outline: none;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner_container {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header_container {
    width: 100%;
    height: 2em;
    display: flex;
    justify-content: flex-start;
    font-size: 1em;
    align-items: center;
    color: var(--hint-text-color);
    cursor: pointer;
}

.header_container:hover {
    color: var(--title-text-color);
}

.header_container p {
    margin-right: 1em;
    font-family: yekan;
}

.content_container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.upload_file_container {
    flex: 1;
    height: calc(100% - 4em);
    border: 1px dashed var(--main-color);
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.upload_file_icon {
    font-size: 7em;
    color: var(--upload-datase-icon-color);
}

.upload_file_hint {
    color: var(--hint-text-color);
    font-family: yekan;
}

.tips_container {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2em;
    height: calc(100% - 4em);
}

.tip_item {
    width: 90%;
    flex: 1;
    background-color: var(--surface-color);
    border-radius: 1em;
    padding: 1em;
}

.tip_item:first-of-type {
    margin-bottom: 1em;
}

.tip_item:nth-of-type(2), .tip_item:nth-of-type(3) {
    margin: 1em 0;
}

.tip_item:last-of-type {
    margin-top: 1em;
}

.tip_item_title {
    display: flex;
    align-items: center;
}

.tip_item_title i {
    color: var(--tip-icon-color);
    font-size: 1.5em;
}

.tip_item_title p {
    font-size: 1.5em;
    color: var(--tip-title-color);
    font-family: yekan_bold;
    margin-right: .5em;
}

.tip_item_content {
    margin-top: 1em;
    font-family: yekan;
}

#page_select_diagram .content_container {
    flex-wrap: wrap;
}

.digram_item_container {
    min-width: 300px;
    flex: 1;
    background-color: white;
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 300px;
    cursor: pointer;
    margin: 1em 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
    overflow: hidden;
}

.digram_item_empty_container {
    min-width: 300px;
    flex: 1;
    background-color: transparent;
    height: 300px;
    margin: 1em 1em;
}

.digram_item_container:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.digram_item_container p {
    font-family: yekan;
    font-size: 1em;
    color: var(--on-surface-color);
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}

.digram_item_container img {
    width: 100%;
    height: 70%;
    border-radius: 16px;
}

.dialog_wrapper {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    transition: .3s;
    background-color: rgba(0,0,0,.3);
    z-index: 10;
}

.dialog_container {
    min-width: 300px;
    background-color: var(--dialog-bg-color);
    border-radius: 1.5em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1em;
    cursor: default;
    max-width: 500px;
}

.dialog_title {
    color: var(--title-text-color);
    font-size: 1em;
    font-family: yekan_bold;
    margin-bottom: 1em;
}

.dialog_content {
    color: var(--content-text-color);
    font-size: 1em;
    font-family: yekan;
    margin-bottom: 2em;
}

.dialog_btns_container {
    display: flex;
    justify-content: flex-end;
}

.dialog_yes_btn {
    background-color: var(--main-color);
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-on-main);
    font-family: yekan;
    font-size: .9em;
    cursor: pointer;
    padding: .5em 1em;
}

.dialog_yes_btn:hover {
    background-color: var(--main-color);
    opacity: .9;
}

.blured {
    filter: blur(10px);
}

@media screen and (max-width: 1630px) {
    #dashboard .content_card .icon_container .inner_container {
        width: 8em;
        height: 8em;
    }

    #dashboard .content_card .icon_container .inner_container i {
        font-size: 4em;
    }
}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1200px) {
    body {
        font-size: 12px;
    }
}

@media screen and (max-width: 1000px) {
    body {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .content_container {
        flex-direction: column;
        margin-top: 1em;
        height: auto;
    }

    .tips_container {
        margin-left: 0;
        width: 100%;
    }

    .tip_item {
        width: 100%;
    }

    .upload_file_container {
        width: 100%;
        margin-top: 2em;
        padding: 1em;
    }

    .upload_file_icon {
        font-size: 5em;
    }
}

@media screen and (max-width: 768px) {  
    #container {
        height: auto;
    }
    
    .inner_container {
        height: auto;
        padding: 1em 0;
    }
}