@font-face {
    font-family: yekan;
    src: url("../fonts/yekan.woff");
}

@font-face {
    font-family: yekan_bold;
    src: url("../fonts/yekan_bold.woff");
}

@font-face {
    font-family: google_sans;
    src: url("../fonts/google_sans.ttf");
}



:root {
    --main-color: #1d3557;
    --surface-color: #ecf0f1;
    --secondary-color: #a8dadc;
    --avatar-bg-color: #dddddd;
    --logout-icon-color: #dca8a8;
    --avatar-icon-color: #494949;
    --hint-text-color: #a5a5a5;
    --hint-text-color-light: var(--secondary-color);
    --upload-datase-icon-color: var(--main-color);
    --title-text-color: #424242;
    --content-text-color: #5f5f5f;
    --accent-color: #e63946;
    --confirm-color: #81b29a;
    --dismiss-color: #e07a5f;
    --color-on-main: #fff;
    --dialog-bg-color: #fff;
}

::-webkit-input-placeholder {
    font-family: yekan;
}

::-moz-placeholder {
    font-family: yekan;
}


* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--surface-color);
    margin: 0;
    direction: rtl;
    font-size: 16px;
}

p,
h2 {
    margin: 0;
}

input[type="email"] {
    font-family: google_sans;
}

button {
    outline: none;
    border: none;
}

button:hover {
    outline: none;
}

#bg {
    width: 100%;
    height: 100%;
    background-image: url("../imgs/login_bg.svg");
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

#container {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.form {
    width: 27%;
    padding: 1em;
    font-family: yekan;
    transition: .3s;
    min-width: 300px;
}

#register_form {
    opacity: 0;
}

.form_title {
    color: #457b9d;
    font-size: 2em;
}

.form_description {
    color: #707070;
    margin-top: .5em;
}

.btn_sign_in_google {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #a5a5a5;
    border-radius: 100px;
    min-height: 50px;
    margin: 2em 0;
    cursor: pointer;
    font-size: .9em;
    font-family: yekan_bold;
    color: #5e5e5e;
}

.btn_sign_in_google img {
    width: 24px;
    margin: 0 1em;
}

.btn_sign_in_google p {
    font-size: 1em;
}

.separator {
    width: 100%;
    background-color: var(--surface-color);
    text-align: center;
    color: #a1a1a1;
    font-size: 1em;
    text-align: center;
}

.form_input {
    width: 100%;
    height: 50px;
    padding: 1em 2em;
    border: 1px solid #dddddd;
    border-radius: 100px;
    font-size: .9em;
    font-family: yekan;
    color: #5f5f5f;
    margin-top: 2em;
}

.form_input:focus {
    border-color: #457b9d;
    outline: none;
}

.register_name_inputs_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register_name_inputs_container input {
    flex: 1;
}

.register_name_inputs_container input:first-of-type {
    margin-right: .5em;
}

.register_name_inputs_container input:last-of-type {
    margin-left: .5em;
}

#btn_forgot_password {
    width: 100%;
    text-align: right;
    color: #457b9d;
    font-size: .8em;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 1em;
    font-family: yekan;
}

#btn_login,
#btn_register {
    width: 100%;
    min-height: 50px;
    background-color: #457b9d;
    color: white;
    font-size: 1em;
    border-radius: 100px;
    margin-top: 2em;
    cursor: pointer;
    border: none;
    outline: none;
    font-family: yekan_bold;
}


.switch_form_text {
    width: 100%;
    text-align: left;
    font-size: .9em;
    color: #000;
    margin-top: 2em;
    font-family: yekan;
}

.switch_form_text span {
    color: #457b9d;
    cursor: pointer;
}

.dialog_wrapper {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    transition: .3s;
    background-color: rgba(0,0,0,.3);
    z-index: 10;
}

.dialog_container {
    min-width: 300px;
    background-color: var(--dialog-bg-color);
    border-radius: 1.5em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1em;
    cursor: default;
    max-width: 500px;
}

.dialog_title {
    color: var(--title-text-color);
    font-size: 1em;
    font-family: yekan_bold;
    margin-bottom: 1em;
}

.dialog_content {
    color: var(--content-text-color);
    font-size: 1em;
    font-family: yekan;
    margin-bottom: 2em;
}

.dialog_btns_container {
    display: flex;
    justify-content: flex-end;
}

.dialog_yes_btn {
    background-color: var(--main-color);
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-on-main);
    font-family: yekan;
    font-size: .9em;
    cursor: pointer;
    padding: .5em 1em;
}

.dialog_yes_btn:hover {
    background-color: var(--main-color);
    opacity: .9;
}

.blured {
    filter: blur(10px);
}

/* ---------------------- loading ------------------------- */

.loading_container {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 999;
    flex-direction: column;
    width: calc(100% - 4em);
    height: calc(100% - 4em);
}

.loading_text {
    margin-top: 2em;
    font-size: 1.2em;
    font-family: yekan_bold;
    color: var(--title-text-color);
}

.sbl-seven-circles {
    height: 9em;
    width: 9em;
    color: #5a5a5a;
    position: relative;
    animation: rotate 2s linear infinite;
    display: inline-block;
    margin-left: -0.5em;
}

.sbl-seven-circles div {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    border: 1px solid;
    position: absolute;
}

.sbl-seven-circles div:nth-child(1) {
    top: 10%;
    left: 5%;
}

.sbl-seven-circles div:nth-child(2) {
    top: 0;
    left: 25%;
}

.sbl-seven-circles div:nth-child(3) {
    top: 10%;
    right: 5%;
}

.sbl-seven-circles div:nth-child(4) {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.sbl-seven-circles div:nth-child(5) {
    bottom: 0;
    left: 25%;
    border-color: var(--main-color);
}

.sbl-seven-circles div:nth-child(6) {
    bottom: 10%;
    left: 5%;
}

.sbl-seven-circles div:nth-child(7) {
    bottom: 10%;
    right: 5%;
    border-color: var(--main-color);
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ---------------------- loading ------------------------- */

@media screen and (max-width: 1280px) {
    .register_name_inputs_container {
        display: block;
    }
}

@media screen and (max-width: 1200px) {
    body {
        font-size: 12px;
    }

    .form {
        width: 35%;
    }
}

@media screen and (max-width: 768px) {
    .form {
        width: 45%;
    }
}