<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/panel.css' %}">
    <link rel='stylesheet' href="{% static 'css/uicons-regular-rounded.css' %}">
    <link rel='stylesheet' href="{% static 'css/uicons-solid-rounded.css' %}">
    <link rel='stylesheet' href="{% static 'css/uicons-solid-straight.css' %}">
    <title>پنل کاربری</title>
</head>
<body>
    <div id="container">
        <div id="dashboard" class="inner_container">
            <div class="header">
                <div class="header_card">
                    <div class="icon_container">
                        <i class="fi fi-ss-user"></i>
                    </div>
                    <div class="content_container">
                        <p class="content_value">سینا حریری</p>
                        <p class="content_title">کاربر</p>
                    </div>
                    <div id="action_logout" class="action_container">
                        <i class="fi fi-rr-sign-out-alt"></i>
                        <p>خروج</p>
                    </div>
                </div>
                <div class="header_card">
                    <div class="icon_container">
                        <i class="fi fi-sr-money-bills-simple"></i>
                    </div>
                    <div class="content_container">
                        <p class="content_value">280,000</p>
                        <p class="content_title">موجودی (تومان)</p>
                    </div>
                    <div id="action_add_fund" class="action_container">
                        <i class="fi fi-rr-square-plus"></i>
                        <p>افزایش</p>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="content_card">
                    <div class="icon_container">
                        <div class="inner_container">
                            <i class="fi fi-sr-bulb"></i>
                        </div>
                    </div>
                    <div class="title_container">
                        <p>پیشنهاد</p>
                    </div>
                    <div class="description_container">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                    </div>
                </div>
                <div class="content_card">
                    <div class="icon_container">
                        <div class="inner_container">
                            <i class="fi fi-sr-chart-pie-alt"></i>
                        </div>
                    </div>
                    <div class="title_container">
                        <p>رسم نمودار</p>
                    </div>
                    <div class="description_container">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                    </div>
                </div>
                <div class="content_card">
                    <div class="icon_container">
                        <div class="inner_container">
                            <i class="fi fi-ss-rectangle-vertical-history"></i>
                        </div>
                    </div>
                    <div class="title_container">
                        <p>تاریخچه</p>
                    </div>
                    <div class="description_container">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                    </div>
                </div>
                <div class="content_card">
                    <div class="icon_container">
                        <div class="inner_container">
                            <i class="fi fi-ss-user-pen"></i>
                        </div>
                    </div>
                    <div class="title_container">
                        <p>پروفایل</p>
                    </div>
                    <div class="description_container">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>