<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/draw.css' %}">
    <link rel='stylesheet' href="{% static 'css/uicons-regular-rounded.css' %}">
    <link rel='stylesheet' href="{% static 'css/uicons-solid-rounded.css' %}">
    <link rel='stylesheet' href="{% static 'css/uicons-solid-straight.css' %}">
    <script src="{% static 'js/loader.js' %}"></script>
    <script src="{% static 'js/jszip.js' %}"></script>
    <script src="{% static 'js/xlsx.js' %}"></script>
    <title>رسم نمودار</title>
</head>
<body>
    <div class="dialog_wrapper">
        <div class="dialog_container">
            <p class="dialog_title"></p>
            <p class="dialog_content">این یک متن اساین یک متن است این یک متن اس این یک متن اس این یک متن اس این یک متن اس</p>
            <p class="dialog_btns_container">
                <button class="dialog_yes_btn">متوجه شدم</button>
            </p>
        </div>
    </div>
    <div id="container">
        <div class="inner_container" id="page_upload_dataset">
            <div class="header_container">
                <i class="fi fi-rr-angle-right"></i>
                <p>بازگشت به پنل کاربری</p>
            </div>
            <div class="content_container">
                <div class="tips_container">
                    <div class="tip_item">
                        <div class="tip_item_title">
                            <i class="fi fi-rr-bulb"></i>
                            <p>نکته 1:</p>
                        </div>
                        <p class="tip_item_content">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ می باشد
                        </p>
                    </div>
                    <div class="tip_item">
                        <div class="tip_item_title">
                            <i class="fi fi-rr-bulb"></i>
                            <p>نکته 2:</p>
                        </div>
                        <p class="tip_item_content">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ می باشد                        
                        </p>
                    </div>
                    <div class="tip_item">
                        <div class="tip_item_title">
                            <i class="fi fi-rr-bulb"></i>
                            <p>نکته 3:</p>
                        </div>
                        <p class="tip_item_content">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ می باشد                        
                        </p>
                    </div>
                    <div class="tip_item">
                        <div class="tip_item_title">
                            <i class="fi fi-rr-bulb"></i>
                            <p>نکته 4:</p>
                        </div>
                        <p class="tip_item_content">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ می باشد                        
                        </p>
                    </div>
                </div>
                <div class="upload_file_container">
                    <input type="file" id="choose_dataset_input" style="display: none;">
                    <i class="upload_file_icon fi fi-sr-arrow-up-from-square"></i>
                    <p class="upload_file_hint">دیتاست خود را انتخاب کنید</p>
                </div>
            </div>
        </div>
        <div class="inner_container" id="page_select_diagram" style="display: none;">
            <div class="header_container">
                <i class="fi fi-rr-angle-right"></i>
                <p>بازگشت</p>
            </div>
            <div class="content_container">
                <div class="digram_item_container">
                    <p>نمودار خطی</p>
                    <div id="preview_diagram_line_chart"></div>
                </div>
                <div class="digram_item_container">
                    <p>نمودار طرح پراکنده</p>
                    <img src="{% static 'imgs/preview_scatter.png' %}"/>
                </div>
                <div class="digram_item_container">
                    <p>نمودار طرح پراکنده ماتریسی</p>
                    <img src="{% static 'imgs/preview_scatter_matrix.png' %}"/>
                </div>
                <div class="digram_item_container">
                    <p>نمودار مساحتی</p>
                    <div id="preview_diagram_area_chart"></div>
                </div>
                <div class="digram_item_container">
                    <p>نمودار حبابی</p>
                    <div id="preview_diagram_bubble_chart"></div>
                </div>
                <div class="digram_item_container">
                    <p>نقشه</p>
                    <div id="preview_diagram_choropleth_map"></div>
                </div>
                <div class="digram_item_container">
                    <p>هیستوگرام</p>
                    <img src="{% static 'imgs/preview_histogram.png' %}"/>
                </div>
                <div class="digram_item_container">
                    <p>نمودار مختصات موازی</p>
                    <img src="{% static 'imgs/preview_parallel_coordinates.png' %}"/>
                </div>
                <div class="digram_item_container">
                    <p>نمودار میله ای</p>
                    <img src="{% static 'imgs/preview_bar.png' %}"/>
                </div>
                <div class="digram_item_container">
                    <p>نمودار میله ای انباشته</p>
                    <img src="{% static 'imgs/preview_stacked_bar.png' %}"/>
                </div>
                <div class="digram_item_container">
                    <p>نمودار میله ای خوشه ای</p>
                    <img src="{% static 'imgs/preview_clustered_bar.png' %}"/>
                </div>
                <div class="digram_item_container">
                    <p>جدول</p>
                    <img src="{% static 'imgs/preview_table.png' %}"/>
                </div>
                <div class="digram_item_container">
                    <p>نفشه درختی</p>
                    <img src="{% static 'imgs/preview_treemap.png' %}"/>
                </div>
                <div class="digram_item_container">
                    <p>نمودار دایره ای</p>
                    <div id="preview_diagram_pie_chart"></div>
                </div>
                <div class="digram_item_container">
                    <p>رادار</p>
                    <img src="{% static 'imgs/preview_radar.png' %}"/>
                </div>
                <div class="digram_item_empty_container"></div>
                <div class="digram_item_empty_container"></div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/global.js' %}"></script>
    <script src="{% static 'js/charts.js' %}"></script>
    <script src="{% static 'js/diagram_preview.js' %}"></script>
    <script src="{% static 'js/dataset.js' %}"></script>
</body>
</html>