@font-face {
    font-family: yekan;
    src: url("../fonts/yekan.woff");
}

@font-face {
    font-family: yekan_bold;
    src: url("../fonts/yekan_bold.woff");
}

@font-face {
    font-family: google_sans;
    src: url("../fonts/google_sans.ttf");
}

@font-face {
    font-family: yekan_num;
    src: url("../fonts/yekan_num.woff");
}


:root {
    --main-color: #1d3557;
    --background-color: #E4E4E4;
    --surface-color: #ecf0f1;
    --on-surface-color: #494949;
    --secondary-color: #a8dadc;
    --secondary-variation-color: #509FB2;
    --on-secondary-variation-color: #DDDDDD;
    --avatar-bg-color: #dddddd;
    --logout-icon-color: #dca8a8;
    --avatar-icon-color: #494949;
    --hint-text-color: #a5a5a5;
    --hint-text-color-light: var(--secondary-color);
    --upload-datase-icon-color: var(--main-color);
    --title-text-color: #424242;
    --content-text-color: #5f5f5f;
    --accent-color: #e63946;
    --confirm-color: #81b29a;
    --dismiss-color: #e07a5f;
    --color-on-main: #fff;
    --dialog-bg-color: #fff;
    --logout-action-bg-color: rgba(230, 57, 70, .2);
    --add-fund-action-bg-color: rgba(129, 178, 154, .2);
    --add-fund-action-content-color: #387E5C;
    --dashboard-card-icon-bg-color: #dddddd;
    --dashboard-card-icon-color: #e07a5f;
    --tip-icon-color: #e07a5f;
    --tip-title-color: #494949;
    --dataset-target-color: #509FB2;
    --dataset-variable-color: #81b29a;
    --disabled-card-bg-color: #e6e6e6;
    --question-hint-color: #509FB2;
}

::-webkit-input-placeholder {
    font-family: yekan;
}

::-moz-placeholder {
    font-family: yekan;
}


* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    direction: rtl;
    font-size: 16px;
    overflow-x: hidden;
}

p,
h2 {
    margin: 0;
}

button {
    outline: none;
    border: none;
}

button:hover {
    outline: none;
}

.container {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.inner_container {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header_container {
    width: 100%;
    height: 120px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    font-size: 1em;
    align-items: center;
    color: var(--hint-text-color);
}

.header_container div:hover {
    color: var(--title-text-color);
}

.header_container div {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header_container p {
    margin-right: 1em;
    font-family: yekan;
}

.content_container {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards_container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#card_question {
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    height: 110px;
    background-color: white;
}

#card_question p {
    flex: 1;
    text-align: center;
    font-family: yekan;
    font-size: 1em;
    color: var(--title-text-color);
    text-align: center;
}

#card_question_hint, #card_yes_hint, #card_no_hint {
    height: 100%;
    width: 80px;
    font-weight: bold;
    border-radius: 12px 0 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--question-hint-color);
    border-right: 1px dashed var(--question-hint-color);
    background-color: rgba(80, 159, 178, .3);
    display: none;
    cursor: pointer;
}

#card_question_hint i, #card_yes_hint i, #card_no_hint i {
    font-size: 1.3em;
}

#card_question_hint span, #card_yes_hint span, #card_no_hint span {
    font-size: 0.7em;
    font-family: yekan;
    font-weight: 300;
}

.answers_cards_container {
    width: 100%;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card_answer_yes, #card_answer_no {
    height: 90px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 12px;
    background-color: white;
    cursor: pointer;
}

#card_answer_yes p, #card_answer_no p {
    font-size: 1.3em;
}

#card_answer_yes div:first-of-type, #card_answer_no div:first-of-type {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card_answer_yes {
    margin-left: .5em;
}

#card_answer_no {
    margin-right: .5em;
}

#card_answer_yes i, #card_answer_no i {
    margin: 0 1em;
}

#card_answer_yes p, #card_answer_no p {
    font-family: yekan;
}

#card_answer_yes {
    color: var(--confirm-color);
}

#card_answer_no {
    color: var(--dismiss-color);
}

#card_yes_hint_btn_show, #card_no_hint_btn_show {
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3em .5em;
    cursor: pointer;
}

#card_yes_hint_btn_show p, #card_no_hint_btn_show p {
    font-family: yekan;
    font-size: .7em;
}

#card_yes_hint_btn_show p {
    color: var(--confirm-color);
}

#card_no_hint_btn_show p {
    color: var(--dismiss-color);
}


.dialog_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    transition: .3s;
    background-color: rgba(0,0,0,.3);
    z-index: 10;
    display: none;
}

.dialog_container {
    min-width: 300px;
    background-color: var(--dialog-bg-color);
    border-radius: 1.5em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1em;
    cursor: default;
    max-width: 500px;
}

.dialog_title {
    color: var(--title-text-color);
    font-size: 1em;
    font-family: yekan_bold;
    margin-bottom: 1em;
}

.dialog_content {
    color: var(--content-text-color);
    font-size: 1em;
    font-family: yekan;
    margin-bottom: 2em;
}

.dialog_btns_container {
    display: flex;
    justify-content: flex-end;
}

.dialog_yes_btn {
    background-color: var(--main-color);
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-on-main);
    font-family: yekan;
    font-size: .9em;
    cursor: pointer;
    padding: .5em 1em;
}

.dialog_yes_btn:hover {
    background-color: var(--main-color);
    opacity: .9;
}

.dialog_no_btn {
    background-color: white;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    font-family: yekan;
    font-size: .9em;
    cursor: pointer;
    padding: .5em 1em;
    margin-left: .5em;
}

.dialog_no_btn:hover {
    background-color: var(--disabled-card-bg-color);
}

.blured {
    filter: blur(10px);
}

.plot_image_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    transition: .3s;
    background-color: rgba(0,0,0,.5);
    z-index: 20;
    display: none;
}

.plot_image_wrapper img {
    border-radius: 12px;
    max-width: 1000px;
}

.success_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    font-family: yekan;
}

#success_animation {
    flex: 1;
}

.result_container {
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.success_hint {
    color: var(--hint-text-color);
    font-size: 2em;
}

#recommended_chart {
    color: var(--confirm-color);
    font-weight: bold;
    font-size: 3em;
    margin: .5em;
}

.success_draw_question {
    margin-top: 1em;
    color: #424242;
    font-size: 1.2em;
    margin-bottom: .5em;
}

.separator {
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, var(--background-color), var(--hint-text-color), var(--background-color));
}

.success_btns_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.success_yes_btn {
    width: 100px;
    background-color: var(--main-color);
    color: white;
    font-family: yekan;
    font-size: 1em;
    border-radius: 16px;
    padding: .5em 1em;
    margin-left: 1em;
    cursor: pointer;
}

.success_no_btn {
    width: 100px;
    background-color: var(--background-color);
    color: var(--main-color);
    font-family: yekan;
    font-size: 1em;
    border-radius: 16px;
    padding: .5em 1em;
    border: 1px solid var(--main-color);
    cursor: pointer;
}