<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/recommend.css' %}">
    <link rel='stylesheet' href="{% static 'css/uicons-regular-rounded.css' %}">
    <link rel='stylesheet' href="{% static 'css/uicons-solid-rounded.css' %}">
    <title>پیشنهاد نمودار</title>
</head>
<body>
    <div class="plot_image_wrapper">
        <img src="" >
    </div>
    <div class="dialog_wrapper">
        <div class="dialog_container">
            <p class="dialog_title">راهنما</p>
            <p class="dialog_content">این یک متن اساین یک متن است این یک متن اس این یک متن اس این یک متن اس این یک متن اس</p>
            <p class="dialog_btns_container">
                <button class="dialog_no_btn">نمایش نمودار</button>
                <button class="dialog_yes_btn">متوجه شدم</button>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="inner_container" >
            <div class="header_container">
                <div class="header_container">
                    <i class="fi fi-rr-angle-right"></i>
                    <p>بازگشت به پنل کاربری</p>
                </div>
            </div>
            <div class="content_container">
                <div class="cards_container" >
                    <div id="card_question">
                        <p>یک متن تست که مثلا سوال است</p>
                        <div id="card_question_hint">
                            <i class="fi fi-sr-map-marker-question"></i>
                            <span>راهنما</span>
                        </div>
                    </div>
                    <div class="answers_cards_container">
                        <div id="card_answer_yes">
                            <div onclick="answer_clicked(this)">
                                <i class="fi fi-sr-thumbs-up"></i>
                                <p>بله</p>
                            </div>
                            <div id="card_yes_hint">
                                <i class="fi fi-sr-map-marker-question"></i>
                                <span>راهنما</span>
                            </div>
                        </div>
                        <div id="card_answer_no">
                            <div onclick="answer_clicked(this)">
                                <i class="fi fi-sr-thumbs-down"></i>
                                <p>خیر</p>
                            </div>
                            <div id="card_no_hint">
                                <i class="fi fi-sr-map-marker-question"></i>
                                <span>راهنما</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="success_container" style="display: none;">
                    <div class="result_container">
                        <p class="success_hint">نمودار پیشنهادی:</p>
                        <p id="recommended_chart">Stacked Area Chart</p>
                        <div class="separator"></div>
                        <p class="success_draw_question">آیا تمایل به رسم نمودار دارید؟</p>
                        <div class="success_btns_container">
                            <button class="success_yes_btn">بله</button>
                            <button class="success_no_btn">خیر</button>
                        </div>
                    </div>
                    <lottie-player id="success_animation" src="{% static 'animations/success.json' %}" background="transparent"  speed="1"></lottie-player>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/lottie-player.js' %}"></script>
    <script src="{% static 'js/recommend.js' %}"></script>
</body>
</html>